src/main/resources/schema/appointmentService.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.sip.bxd.cn/his"
           targetNamespace="http://webservice.sip.bxd.cn/his" elementFormDefault="qualified">

    <xs:element name="appointmentService">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="arg0" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="appointmentServiceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="return" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>